#Directorys
.vs/
bin/
bin-int/

#Files
*.user
*.log
system/Chess_Game/logs/*
system/Automation_Tests/logs/*
system/AI_Playground/logs/*
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.lot
*.out
*.toc
*.xml
*.gz
*.fls
*.fdb_latexmk
